<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="posts :: head">
    <meta charset="UTF-8"/>
    <title>VEGAS STAKES 2: ELECTRIC BOOGALOO</title>
</head>
<body>
<h1>VEGAS STAKES 2: ELECTRIC BOOGALOO</h1>
<h2>CHOOSE A NUMBER, YO</h2>
<ul>
    <li class="btn btn-lg">1</li>
    <li class="btn btn-lg">2</li>
    <li class="btn btn-lg">3</li>
    <li class="btn btn-lg">4</li>
    <li class="btn btn-lg">5</li>
    <li class="btn btn-lg">6</li>
</ul>
</body>
</html>